# Common useless files
.svn
.DS_Store

*.o
*.d
*.a
*.ver
*.pc
*_g
*.orig



# Build directories
/build*/

# Eclipse projects files
.project
.cproject

# QtCreator projects files
*.user
*.user.*
*.config
*.creator
*.includes
*.files


/config.*
/ohplay
*.version
