# Common useless files
.svn
.DS_Store

*.orig
*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.ptx
*.ptx.c
*_g
\#*
.\#*
/.config
/.version


# Build directories
/build*/

# Eclipse projects files
.project
.cproject

# QtCreator projects files
*.user
*.user.*
*.config
*.creator
*.includes
*.files


/config.*
/ohplay
*.version
